@model dynamic

@{
    ViewBag.Title = "Add User to Circle";
}

<h2>Add user to circle</h2>

<table>
    <tr>
        <th>Step 1</th>
        <td>Click the circle you want to add a user to</td>
        <th>Step 2</th>
        <td></td>
        <th>Step 3</th>
        <td>Submit Purchase</td>
    </tr>
</table>