@model dynamic

@{
    ViewBag.Title = "How to buy something";
}

<h2>How to Buy Something</h2>



<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Click an ad from the side of your screen.</td>
        <th>Step 2</th>
        <td>Enter account information or choose from an account already entered into the system</td>
        <th>Step 3</th>
        <td>Submit Purchase</td>
    </tr>
</table>