@model dynamic

@{
    ViewBag.Title = "Create a new Circle";
}

<h2>How to Create a new Circle?</h2>


<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Click Cirlces from the navigation bar at the top</td>
        <th>Step 2</th>
        <td>Click Create Circle</td>
        <th>Step 3</th>
        <td>Type all applicable information and press submit</td>
    </tr>
</table>