@model dynamic

@{
    ViewBag.Title = "Customer Rep Help";
}

<h2>Customer Rep Help</h2>

<h2>Manager Help</h2>


<h3>How to create new Ad</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Select Customer Rep from the top navigation bar.</td>
        <th>Step 2</th>
        <td>Select Create ad</td>
        <th>Step 3</th>
        <td>Enter Information and press submit</td>
    </tr>
</table>

<h3>How to Create Customer</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Select Customer Rep from the top navigation bar.</td>
        <th>Step 2</th>
        <td>Select Create Customer</td>
        <th>Step 3</th>
        <td>Enter Information and press submit</td>
    </tr>
</table>

<h3>How to delete ad?</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Select Customer Rep from the top navigation bar.</td>
        <th>Step 2</th>
        <td>Select view Ads</td>
        <th>Step 3</th>
        <td>click the delete icon next to the desired ad to delet</td>
    </tr>
</table>

<h3>How to delete customer?</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Select Customer Rep from the top navigation bar.</td>
        <th>Step 2</th>
        <td>Select view Customers</td>
        <th>Step 3</th>
        <td>click the delete icon next to the desired customer to delet</td>
    </tr>
</table>

<h3>How to Edit ad?</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Select Customer Rep from the top navigation bar.</td>
        <th>Step 2</th>
        <td>Select view Ads</td>
        <th>Step 3</th>
        <td>click the Edit icon next to the desired ad, change information, click save.</td>
    </tr>
</table>


<h3>How to edit customer?</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Select Customer Rep from the top navigation bar.</td>
        <th>Step 2</th>
        <td>Select view customers</td>
        <th>Step 3</th>
        <td>click the edit icon next to the desired user to edit, change information, then click save.</td>
    </tr>
</table>

<h3>How to record transaction?</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Select Customer Rep from the top navigation bar.</td>
        <th>Step 2</th>
        <td>Select record transaction</td>
        <th>Step 3</th>
        <td>enter information and click submit</td>
    </tr>
</table>
