@model dynamic

@{
    ViewBag.Title = "Customer Help";
}

<h2>Customer Help</h2>


<h3>Add user to circle</h3>

<table>
    <tr>
        <th>Step 1</th>
        <td>Click the circle you want to add a user to</td>
        <th>Step 2</th>
        <td></td>
        <th>Step 3</th>
        <td>Submit Purchase</td>
    </tr>
</table>


<h3>How to Buy Something</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Click an ad from the side of your screen.</td>
        <th>Step 2</th>
        <td>Enter account information or choose from an account already entered into the system</td>
        <th>Step 3</th>
        <td>Submit Purchase</td>
    </tr>
</table>


<h3>How to Create a new Circle?</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Click Cirlces from the navigation bar at the top</td>
        <th>Step 2</th>
        <td>Click Create Circle</td>
        <th>Step 3</th>
        <td>Type all applicable information and press submit</td>
    </tr>
</table>



<h3>Send Message</h3>

<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Click a friend from your circle</td>
        <th>Step 2</th>
        <td>Select Send Message</td>
        <th>Step 3</th>
        <td>Submit Message</td>
    </tr>
</table>


<h3>Delete Message</h3>

<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Click Messages</td>
        <th>Step 2</th>
        <td>Select delete button next to message you wish to delete</td>
    </tr>
</table>

