@model dynamic

@{
    ViewBag.Title = "Manager Help";
}

<h2>Manager Help</h2>


<h3>How to create new Employee?</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Select Manager from the top navigation bar.</td>
        <th>Step 2</th>
        <td>Select Create Employee from the option list</td>
        <th>Step 3</th>
        <td>Enter Information and press submit</td>
    </tr>
</table>

<h3>How to edit Employee?</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Select Manager from the top navigation bar.</td>
        <th>Step 2</th>
        <td>Select view employees</td>
        <th>Step 3</th>
        <td>Select the pencil next to desired employee, make edits to information and press submit.</td>
    </tr>
</table>

<h3>How to delete Employee?</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Select Manager from the top navigation bar.</td>
        <th>Step 2</th>
        <td>Select view employees</td>
        <th>Step 3</th>
        <td>click the delete icon next to the desired user to delet</td>
    </tr>
</table>

<h3>How to run desired report</h3>
<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Select Manager from the top navigation bar.</td>
       <th>Step 2</th>
        <td>View options of available reports, read the description to find desired report, select run report button</td>
       <th>Step 3</th>
        <td>In some cases, you will be asked to enter additional info, then press run report button to run report button</td>
    </tr>
</table>