@model dynamic

@{
    ViewBag.Title = "Send Message";
}

<h2>Send Message</h2>



<table class="table table-bordered">
    <tr>
        <th>Step 1</th>
        <td>Click a friend from your circle</td>
        <th>Step 2</th>
        <td>Select Send Message</td>
        <th>Step 3</th>
        <td>Submit Message</td>
    </tr>
</table>